@charset "UTF-8";
/* General styling for elements on all pages starts here */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    box-sizing: border-box;
    background-image: url(/assets/images/background-image.jpg);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 100px;
    color: #E3D90B;
    font-family: 'Black Ops One', cursive;
    text-align: center;
}

h2 {
    font-size: 45px;
    color: #E3D90B;
    font-family: 'Black Ops One', cursive;
}

h4 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5 {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-left: 10vw;
}

h5 a {
    text-decoration: none;
    color: black;
}

.text-red-highlighted {
    color: #C3010C;
}

.text-yellow-highlighted {
    color: #E3D90B;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    width: 8vw;
    height: 5vh;
    border: none;
    background-color: #4FBFD2;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    transition-duration: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 4px solid #4FBFD2;
}

.bold {
    font-weight: bold;
}

.flexbox {
    display: flex;
}

.fa-envelope {
    color: black;
}

/* Styling for right navigation sidebar starts here */

.nav-right-sidebar {
    height: 55vh;
    width: 15vw;
    position: fixed;
    left: 85vw;
    top: 22vh;
    text-align: center;
}

.nav-right-sidebar a {
    text-decoration: none;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    transition-duration: 0.2s;
}

.nav-right-sidebar a:hover {
    color: #4FBFD2;
}

.nav-right-sidebar a:checked {
    background-color: #4FBFD2;
}

hr {
    width: 1vw;
    border: 1.5px solid black;
    background-color: black;
    transform: rotate(90deg);
    margin: 2vh 6.7vw;
}

/* Styling for general information and image containers on multiple pages starts here */

.container-type-1, .container-type-2 {
    height: 60vh;
    margin-top: 10vh;
}

.container-type-1-information {
    background-color: #D67600;
    width: 40vw;
    height: 50vh;
    margin-top: 5vh;
    margin-left: 10vw;
}

.container-type-1-information h2 {
    padding-top: 6vh;
    margin-left: 3vw;
}

.container-type-1-information p {
    width: 22vw;
    line-height: 2;
    margin-top: 2vh;
    margin-left: 3vw;
}

.container-type-1-information button {
    margin-top: 4vh;
    margin-left: 3vw;
}

.container-type-1-image {
    border: 4px solid #E3D90B;
    width: 36vw;
    height: 46vh;
    position: relative;
    left: 39vw;
    bottom: 42vh;
}

.container-type-2-information {
    background-color: #D67600;
    width: 40vw;
    height: 50vh;
    margin-top: 5vh;
    margin-left: 35.5vw;
}

.container-type-2-information h2 {
    padding-top: 6vh;
    margin-left: 13vw;
}

.container-type-2-information p {
    width: 22vw;
    line-height: 2;
    margin-top: 2vh;
    margin-left: 13vw;
}

.container-type-2-information button {
    margin-top: 4vh;
    margin-left: 13vw;
}

.container-type-2-image {
    border: 4px solid #E3D90B;
    width: 36vw;
    height: 46vh;
    position: relative;
    left: 10vw;
    bottom: 42vh;
}

/* Styling for Header starts here */

.navigation-top {
    width: 99vw;
    height: 20vh;
    list-style-type: none;
    position: fixed;
    z-index: 10;
    font-family: 'Oswald', sans-serif;
    pointer-events: none;
}

.navigation-top ul {
    padding: 0;
    margin: 0;
    text-align: center;
    pointer-events: none;
}

.navigation-top li {
    display: inline-block;
    vertical-align: middle;
}

.navigation-top a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-left: 2vw;
    margin-right: 2vw;
    pointer-events: all;
}

.logo {
    width: 160px;
}

.flag {
    width: 60px;
}

.flag-britain {
    position: fixed;
    top: 5.5%;
    left: 85%;
    z-index: 10;
}

.flag-denmark {
    position: fixed;
    top: 5.5%;
    left: 90%;
    z-index: 10;
}

/* Styling for Footer starts here */

footer {
    background-color: #4FBFD2;
    height: 50vh;
    margin-top: 10vh;
    position: relative;
    z-index: 10;
}

.footer-contact {
    grid-area: contact;
}

.footer-opening-hours {
    grid-area: open;
}

.footer-reviews {
    grid-area: reviews;
}

.footer-grid-container {
    display: grid;
    grid-template-areas: 'contact open reviews';
    padding-top: 5vh;
    padding-left: 11vw;
}

.footer-grid-container div ul {
    list-style-type: none;
}

.footer-grid-container div h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3vh;
}

.footer-grid-container div p {
    margin: 2vh 0;
}

.footer-social-medias {
    text-align: center;
}

.footer-social-medias a {
    color: black;
}

.footer-social-medias i {
    margin: 2vh 1vw;
}

.footer-copyright {
    position: absolute;
    bottom: 0;
    width: 99vw;
    height: 5vh;
    background-color: black;
    color: white;
    text-align: center;
}

.footer-copyright p {
    margin-top: 1.5vh;
}

/* Styling for index.html starts here */

main {
    padding-top: 30vh;
}

.container-video {
    height: 70vh;
}

.container-video video {
    display: block;
    background-color: lightblue;
    margin: auto;
}

#headline-over-video {
    text-align: center;
    position: relative;
    bottom: 35%;
}

.container-concept {
    height: 100vh;
}

.speech-bubble-1 {
    width: 18vw;
    background-color: #D67600;
    border-radius: 40px;
    position: relative;
    left: 20vw;
    top: 13vh;
    z-index: 3;
}

.speech-bubble-1 p {
    padding: 2vh 0 2vh 2vw;
    width: 14vw;
    line-height: 1.5;
}

.speech-bubble-1:after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 100px solid transparent;
	border-top-color: #D67600;
	border-bottom: 0;
	border-right: 0;
	margin-left: 10px;
	margin-bottom: -60px;
}

.speech-bubble-2 {
    width: 20vw;
    background-color: white;
    border-radius: 40px;
    position: relative;
    left: 62vw;
    top: 13vh;
    z-index: 3;
}

.speech-bubble-2 p {
    padding: 2vh 0 2vh 2vw;
    width: 14vw;
    line-height: 1.5;    
}

.speech-bubble-2:after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 100px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-left: 0;
	margin-left: -140px;
	margin-bottom: -60px;
}

.speech-bubble-2 button {
    position: relative;
    z-index: 10;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

.speech-bubble-2 button:hover {
    color: black;
}

.container-concept-info {
    width: 35vw;
    height: 50vh;
    background-color: white;
    border: 4px solid #D67600;
    margin-left: 17vw;
    margin-top: 35vh;
    position: absolute;
    z-index: 3;
}

.container-concept-info h2 {
    margin-top: 5vh;
    margin-left: 3vw;
}

.container-concept-info p {
    width: 25vw;
    line-height: 2;
    margin-top: 1vh;
    margin-left: 3vw;
}

.image-container-concept-food {
    width: 45vw;
    height: 55vh;
    border: 4px solid #E3D90B;
    background-image: url(/assets/images/conceptfood.jpg);
    position: absolute;
    top: 125vh;
    left: 27.5vw;
    z-index: 1;
}

.image-container-concept-man {
    width: 18vw;
    height: 52vh;
    border: 4px solid #D67600;
    background-image: url(/assets/images/conceptman.jpg);
    background-size: cover;
    background-position: right;
    position: absolute;
    top: 145vh;
    left: 64vw;
    z-index: 1;
}

.background-image-frontpage-kitchens {
    background-image: url(/assets/images/kitchens.jpg);
    background-size: cover;
}

.background-image-frontpage-activities {
    background-image: url(/assets/images/activities.jpg);
    background-size: cover;
}

.background-image-frontpage-events {
    background-image: url(/assets/images/events.jpg);
    background-size: cover;
}

.container-widget-next-event h2 {
    margin-left: 17vw;
}

.container-widget-next-event button {
    margin-top: 40vh;
    margin-left: 17vw;
    margin-bottom: 20vh;
}

.container-map h2 {
    margin-left: 17vw;
}

.container-map img {
    display: block;
    margin: 5vh auto;
}

.container-map button {
    margin-left: 17vw;
    margin-bottom: 5vh;
}

.frontpage-main .container-type-1-information {
    margin-left: 17vw;
}

.frontpage-main .container-type-1-image {
    left: 46vw;
}

.frontpage-main .container-type-2-information {
    margin-left: 42.5vw;
}

.frontpage-main .container-type-2-image {
    left: 17vw;
}

/* Styling for kitchens.html starts here */

.background-image-kitchens-1 {
    background-image: url(/assets/images/kitchen1.jpg);
    /* Image from https://www.facebook.com/thedosaspot The Dosa Spot */
    background-size: cover;
}

.background-image-kitchens-2 {
    background-image: url(/assets/images/kitchen2.jpg);
    /* Image from https://www.facebook.com/duckit.co Duck It */
    background-size: cover;
}

.background-image-kitchens-3 {
    background-image: url(/assets/images/kitchen3.jpg);
    /* Image from https://www.facebook.com/TheFishProjectDk/ The Fish Project */
    background-size: cover;
}

.background-image-kitchens-4 {
    background-image: url(/assets/images/kitchen4.jpg);
    /* Image from https://aalborgnu.dk/nyheder/mere-mad-paa-streetfood-i-dag-aabner-et-helt-nyt-og-groent-koekken/9b7120f6-2c7e-472f-b1df-b0395d74bd08/galleri?img=pmO1uKBiAcGhNDZ5iKkBuzm9Xj0 Aalborgnu */
    background-size: cover;
}

.background-image-kitchens-5 {
    background-image: url(/assets/images/kitchen5.jpg);
    /* Image from https://www.facebook.com/mstreetfood Marrakech Street Food */
    background-size: cover;
}

.background-image-kitchens-6 {
    background-image: url(/assets/images/kitchen6.jpg);
    background-size: cover;
}

.background-image-kitchens-7 {
    background-image: url(/assets/images/kitchen7.jpg);
    background-size: cover;
}

.background-image-kitchens-8 {
    background-image: url(/assets/images/kitchen8.jpg);
    background-size: cover;
}

.background-image-kitchens-9 {
    background-image: url(/assets/images/kitchen9.jpg);
    background-size: cover;
}

.background-image-kitchens-10 {
    background-image: url(/assets/images/kitchen10.jpg);
    background-size: cover;
}

/* Styling for activities.html starts here */

.background-image-activities-1 {
    background-image: url(/assets/images/boardgames.jpg);
    background-size: cover;
}

.background-image-activities-2 {
    background-image: url(/assets/images/arcade.jpg);
    background-size: cover;
}

.background-image-activities-3 {
    background-image: url(/assets/images/shuffleboard.jpg);
    background-size: cover;
}

.background-image-activities-4 {
    background-image: url(/assets/images/karaoke.jpg);
    background-size: cover;
}

.container-type-1 h4 {
    margin-left: 3vw;
    margin-top: 2vh;
}

.container-type-2 h4 {
    margin-left: 13vw;
    margin-top: 2vh;
}

/* Styling for all the individual kitchen pages starts here */

.gallery {
    width: 70vw;
    height: 20vh;
    margin: 10vh auto;
}

.gallery i {
    margin-top: 6vh;
}

.gallery-image {
    width: 10vw;
    height: 15vh;
    margin: 0 2vw;
}

.dosa-image-1 {
    background-image: url(/assets/images/dosagallery1.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.dosa-image-2 {
    background-image: url(/assets/images/dosagallery2.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.dosa-image-3 {
    background-image: url(/assets/images/dosagallery3.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.dosa-image-4 {
    background-image: url(/assets/images/dosagallery4.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.dosa-image-5 {
    background-image: url(/assets/images/dosagallery5.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.container-individual-kitchen-menu {
    grid-area: menu;
}

.container-individual-kitchen-allergies {
    grid-area: allergies;
}

.container-individual-kitchen-childfriendly {
    grid-area: childfriendly;
}

.container-individual-kitchen {
    width: 80vw;
    margin: auto;
    background-color: white;
    display: grid;
    grid-template-areas: 'menu allergies' 'menu childfriendly';
}

.container-individual-kitchen div {
    padding-left: 5vw;
    padding-top: 5vh;
    margin-bottom: 5vh;
}

.container-individual-kitchen p {
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 3;
}

.container-individual-kitchen section p {
    font-size: 16px;
    margin: 2vh 1vw;
}

.container-individual-kitchen section i {
    margin: 3.7vh 0;
}

.allergies-right {
    padding-left: 4vw;
}

.container-individual-kitchen-infobox {
    margin: 15vh auto;
    width: 60vw;
    height: 40vh;
    background-color: #D67600;
}

.container-individual-kitchen-infobox p {
    width: 50vw;
    padding-top: 7vh;
    margin: auto;
    line-height: 2.5;
}

.container-individual-kitchen-infobox .fa-facebook {
    margin-left: 5vw;
    margin-top: 2vh;
    color: black;
    text-decoration: none;
}

.container-individual-kitchen-infobox .fa-instagram {
    margin-left: 2vw;
    margin-top: 2vh;
    color: black;
    text-decoration: none;
}

/* Styling for individual activities starts here */

.container-individual-activities-price {
    grid-area: price;
}

.container-individual-activities-rules {
    grid-area: rules;
}

.container-individual-activities-selection {
    grid-area: selection;
}

.container-individual-activities {
    width: 80vw;
    margin: auto;
    background-color: white;
    display: grid;
    grid-template-areas: 'price rules' 'selection selection';
}

.container-individual-activities div {
    padding-left: 5vw;
    padding-top: 5vh;
    margin-bottom: 5vh;
}

.container-individual-activities p {
    line-height: 2.5;
    margin-top: 8vh;
}

.container-individual-activities-price h4 {
    margin-top: 3vh;
    position: absolute;
}

.selection-column {
    margin-left: 5vw;
}

.container-individual-activities-selection h4 {
    margin: 10vh 0;
}

.board-image-1 {
    background-image: url(/assets/images/boardgallery1.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.board-image-2 {
    background-image: url(/assets/images/boardgallery2.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.board-image-3 {
    background-image: url(/assets/images/boardgallery3.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.board-image-4 {
    background-image: url(/assets/images/boardgallery4.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.board-image-5 {
    background-image: url(/assets/images/boardgallery5.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.arcade-image-1 {
    background-image: url(/assets/images/arcade1.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.arcade-image-2 {
    background-image: url(/assets/images/arcade2.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.arcade-image-3 {
    background-image: url(/assets/images/arcade3.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.arcade-image-4 {
    background-image: url(/assets/images/arcade4.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.arcade-image-5 {
    background-image: url(/assets/images/arcade5.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.shuffle-image-1 {
    background-image: url(/assets/images/shuffleboard1.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.shuffle-image-2 {
    background-image: url(/assets/images/shuffleboard2.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

.karaoke-image-1 {
    background-image: url(/assets/images/karaoke.jpg);
    /* Image from https://www.facebook.com/thedosaspot/photos The Dosa Spot */
    background-size: cover;
}

/* Styling for events.html starts here */

.event-main h2 {
    padding-left: 10vw;
    margin-top: 5vh;
}

.event-main button {
    margin-left: 10vw;
}

.event-personal-information {
    width: 45vw;
    height: 42vh;
    background-color: white;
    margin-left: 10vw;
}

.event-personal-information h2 {
    padding-top: 4vh;
    padding-left: 3vw;
}

.event-personal-information p {
    width: 24vw;
    padding-top: 2vh;
    padding-left: 3vw;
    line-height: 2;
}

.event-personal-information button {
    margin-top: 2vh;
    margin-left: 3vw;
}

.event-personal-image {
    border: 4px solid #E3D90B;
    width: 37vw;
    height: 45vh;
    position: relative;
    left: 42vw;
    bottom: 32vh;
    background-image: url(/assets/images/ownevent.jpg);
    background-size: cover;
}

.container-event-personal {
    height: 60vh;
}

.speech-bubble-2 {
    width: 20vw;
    background-color: #D67600;
    border-radius: 40px;
    position: relative;
    left: 55vw;
    top: 10vh;
    z-index: 3;
}

.speech-bubble-2 p {
    padding: 2vh 0 2vh 2vw;
    width: 14vw;
    line-height: 1.5;    
}

.speech-bubble-2:after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 100px solid transparent;
	border-top-color: #D67600;
	border-bottom: 0;
	border-right: 0;
	margin-left: 40px;
	margin-bottom: -60px;
}

.speech-bubble-2 button {
    position: relative;
    z-index: 10;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

.speech-bubble-2 button:hover {
    color: black;
}

/* Styling for aboutus.html starts here */

.container-find-us {
    height: 100vh;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 50vh;
    width: 38vw;
    margin-left: 10vw;
    margin-top: 10vh;
    z-index: 3;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 50vh;
    width: 38vw;
}

iframe {
    width: 100%;
    height: 100%;
}

.find-us-info {
    background-color: white;
    width: 35vw;
    position: relative;
    left: 45vw;
    bottom: 45vh;
    padding-bottom: 10vh;
}

.find-us-info h2 {
    padding-top: 5vh;
    padding-left: 7vw;
}

.find-us-info p {
    padding-top: 3vh;
    padding-left: 7vw;
    font-weight: bold;
    font-size: 1vw;
}

.speech-bubble-about-1 {
    width: 20vw;
    background-color: #D67600;
    position: relative;
    border-radius: 40px;
    left: 13vw;
    bottom: 68vh;
    z-index: 3;
}

.speech-bubble-about-1 p {
    padding: 2vh 0 2vh 2vw;
    width: 14vw;
    line-height: 1.5;    
}

.speech-bubble-about-1:after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 100px solid transparent;
	border-top-color: #D67600;
	border-bottom: 0;
	border-left: 0;
	margin-left: -140px;
	margin-bottom: -60px;
}

.speech-bubble-about-1 button {
    position: relative;
    z-index: 10;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

.speech-bubble-about-1 button:hover {
    color: white;
}

.speech-bubble-about-2 {
    width: 20vw;
    background-color: white;
    border-radius: 40px;
    position: relative;
    left: 30vw;
    bottom: 80vh;
    z-index: 3;
}

.speech-bubble-about-2 p {
    padding: 2vh 0 2vh 2vw;
    width: 14vw;
    line-height: 1.5;    
}

.speech-bubble-about-2:after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 100px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-right: 0;
	margin-left: 30px;
	margin-bottom: -60px;
}

.speech-bubble-about-2 button {
    position: relative;
    z-index: 10;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

.speech-bubble-about-2 button:hover {
    color: white;
}

.container-about-mvh {
    background-color: #D67600;
    width: 70vw;
    margin-left: 10vw;
    margin-top: 10vh;
}

.about-mvh {
    padding-top: 5vh;
    padding-left: 5vw;
    padding-bottom: 5vh;
}

.about-mvh p {
    padding-top: 5vh;
    width: 28vw;
    line-height: 2.5;
}

.container-about-team {
    margin: 15vh 0 10vh 10vw;
}

.about-team-staff-info {
    margin: 5vh 0 10vh 0;
}

.move-left {
    margin-left: 12.33vw;
}

.about-team-staff-info img {
    width: 15vw;
    margin: 5vh 0 2vh 0;
}

.about-team-staff-info h3 {
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-team-staff-info p {
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}